<template>
	<div>
		<h3>Cadastro de Funcionarios</h3>
		<div class="card">
			<div class="card-body">
				<form v-on:submit.prevent="insertEmployee">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
							<div class="form-group">
								<label for="name">Nome</label>
								<input type="text" class="form-control" id="name" v-model="name">
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
							<div class="form-group">
								<label for="dateofbirth">Data de Nascimento</label>
								<input type="date" class="form-control" id="dateofbirth" v-model="dateOfBirth">
							</div>
						</div>
							<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
								<div class="form-group">
									<label for="city">Cidade</label>
									<input type="text" class="form-control" id="city" v-model="city">
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
								<div class="form-group">
									<label for="phone">Número de telefone</label>
									<input type="text" class="form-control" id="phone" v-model="telephone">
								</div>
							</div>
					</div>
					<button class="btn btn-primary btn-block">Cadastrar</button>
				</form>
			</div>
				<div class="d-flex justify-content-center">
					<div v-if="status">
						<p class="text-success">Cadastrado com sucesso</p>
					</div>
					<div v-if="errors">
						<p v-for="(message, index) in errors" :key="index" class="text-danger">
							{{message[0]}}
						</p>
					</div>
				</div>
			</div>
	</div>
</template>

<script>
import axios from 'axios'

export default {
	name: 'EmployeePage',
	data () {
		return {
			name: null,
			dateOfBirth: null,
			city: null,
			telephone: null,
			errors: null,
			status: null
		}
	},
	methods: {
		insertEmployee () {
			axios.post('http://127.0.0.1:8001/api/insertemployee', {
				name: this.name,
				dateOfBirth: this.dateOfBirth,
				city: this.city,
				telephone: this.telephone
			})
			.then(response => {
				if(response.data.status){
					this.errors = null
					this.name = null
					this.dateOfBirth = null
					this.city = null
					this.telephone = null
					this.status = response.data.status
				}
				console.log(response)
			})
			.catch(e => {
				this.status = false
				this.errors = e.response.data.errors
				console.log(e)
			})
		}
	}
}
</script>

