<template>
    <div>
        <nav class="navbar navbar-light bg-info justify-content-between">
            <a class="navbar-brand text-white">Capgemini</a>
        </nav>
        <main class="container py-4">
            <router-view/>
        </main>
    </div>
</template>

<script>

export default {
    name: 'HomePage',
}
</script>

<style>
body {
    background-color: #fafafa
}
</style>

